<%  @errors.each do |error| %>
      <%= render 'shared/error_toast',error: error %>
<% end %>
<%# creando furmulario de movies %>
<h2>Formulario Peliculas</h2>

<%= form_with model:@movie, method: :post do |form|%>
    <%= form.label :name %>
    <%= form.text_field :name %>

    <%= form.label :synopsis %>
    <%= form.text_area :synopsis %>

    <%= form.label :director %>
    <%= form.text_field :director %>

     <%= form.submit%>
<% end %>