<%# creando furmulario de series %>
<h2>Fomulario Series</h2>

<%= form_with model:@serie, method: :post do |form|%>
    <%= form.label :name %>
    <%= form.text_field :name %>

    <%= form.label :synopsis %>
    <%= form.text_area :synopsis %>

    <%= form.label :director %>
    <%= form.text_field :director %>

     <%= form.submit%>
<% end %>